.userleft{
    position: relative;
    width: 70%;
    left:calc(30% - 40px);
    background-color: #323444;
    border:2px dotted #636477;
    margin: 10px;
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userright{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 70%;
    padding: 10px;
    flex-wrap: wrap;
    right:0;
    background-color: #2B2C3A;
    border:2px dotted #323444;
    margin: 10px;
}

.userright .image{
    border-radius: 20px;
    overflow: hidden;
    transform: rotate(10deg);
    width: 148px;
    height: 148px;
    cursor: pointer;
}
.userleft .image{
    border-radius: 20px;
    overflow: hidden;
    transform: rotate(-10deg);
    width: 148px;
    height: 148px;
    cursor: pointer;
}
.content{
    word-break: break-all;
}